/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
_admin_ide_helper.php
_ide_helper.php
Homestead.json
Homestead.yaml
auth.json
install.lock
npm-debug.log
yarn-error.log